@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>ASPPE 2024</h1>
    <p>Site desenvolvido com finalidade de auxiliar na soma das notas gerais baseada em cada etapa.</p>
</div>
